@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  margin:0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}
p {
  font-family: 'Lato', sans-serif;
  font-weight:1000;
  letter-spacing: 1px;
  font-size:30px;
  color: #333333;
}

.header {
  position:relative;
  text-align:center;
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:absolute;
  height:22%;
  width:100%;
  bottom: 0;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

#icon {
  font-size: 35px;
}

.font {
  font-family: 'Lato', sans-serif;
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}

.space {
  margin-left: 15px;
}

.text {
  padding-bottom: 12px;
}
.crossfade > figure {
  animation: imageAnimation 12s linear infinite;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100vh;
  left: 0px;
  opacity: 0;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.crossfade > figure:nth-child(1) {
  background-image: url('../img/background-1.jpg');
}
.crossfade > figure:nth-child(2) {
  animation-delay: 3s;
  background-image: url('../img/background-2.jpg');
}
.crossfade > figure:nth-child(3) {
  animation-delay: 6s;
  background-image: url('../img/background-3.jpg');
}
.crossfade > figure:nth-child(4) {
  animation-delay: 9s;
  background-image: url('../img/background-4.jpg');
}

@keyframes imageAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  8% {
    opacity: 1;
  }
  17% {
    animation-timing-function: ease-out;
    opacity: 1
  }
  25% {
    opacity: 0
  }
}